.child_cart_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cart_img_style{
    width: 300px;
    height: 300px;
}
.cart_heading{
    font-weight: bold;
}
.cart_btn{
    width: 150px;
    border-radius: 10px;
    background-color: #FCF2DC;
    padding: 10px;
}

@media screen and (max-width: 650px) {
    .child_cart_div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 0;
    }
    .cart_img_style{
        margin: 5px 0;
    }
    .cart_heading{
        margin: 5px 0;
    }
}